

/*@import 'fragmentos/normalize';*/
@import 'fragmentos/reset';
@import 'fragmentos/css/general';
@import 'fragmentos/css/header';
@import 'fragmentos/css/nav';
@import 'fragmentos/css/form';
@import 'fragmentos/css/social_fontelo';
@import 'fragmentos/css/developerInfo';
@import 'fragmentos/css/footer';
/*@import 'fragmentos/css/scrollpath';*/
@import 'fragmentos/grids';
@import 'fragmentos/css/flipster';

/*@font-face {
        font-family:'BankGothic Lt BT Light';
        src: url('fonts/BankGothic Lt BT Light.ttf');
}
*/
@font-face {
        font-family: 'fontello';
        src: url('fonts/fontello.eot?9998728');
        src: url('fonts/fontello.eot?9998728#iefix') format('embedded-opentype'),
             url('fonts/fontello.woff?9998728') format('woff'),
             url('fonts/fontello.ttf?9998728') format('truetype'),
             url('fonts/fontello.svg?9998728#fontello') format('svg');
        font-weight: normal;
        font-style: normal;
        -webkit-font-smoothing:antialiased;
}

*{margin: 0; padding: 0;}

/*html{
    background: url(images/fondoResponsive.png);
}*/

body{
    background: rgba(8,39,132,.9);
    font-size: 20px;
    -ms-font-size: 24px;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

ul, ol, li, a{
    list-style: none;
    text-decoration: none;
}

.parallax-bg{
    background: url(images/sky.jpg) center center no-repeat fixed;
    background-size: cover;
}

/*.wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(8,39,132,.9);
    position: relative;
    z-index: -20000;
}*/

/*.parallax{
    background:url(images/Sky.jpg) no-repeat center center fixed;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
@media screen and (max-width: $bp_large){
        display:none;
    }

}*/

/*canvas{
    width: 100%;
    height: 1em;
    margin: 0 auto;
    overflow: hidden;
}*/

/*#stela{
    width: 120%;
    height: .2em;
/*    background: rgba(255,255,255,.2);*/
/*    position: relative;
    top: 20em;
    left: -8px;
    transform:rotate(3deg);
-ms-transform:rotate(3deg); /* IE 9 */
/*-webkit-transform:rotate(3deg); /* Opera, Chrome, and Safari 
}*/

.stela{
    width: 120%;
    height: 1.5em;
    margin: .4em 0;
/*    background: rgba(255,255,255,.1);*/
    overflow: visible;
    position: fixed;
    top: 40%;
    left: -3em;
}

.dot{
    width: .5em;
    height: 40px;
    overflow: visible;
    display: inline-block;
    /*background: rgba(255,255,255,.1);*/
    position: relative;
    z-index: -115;
    bottom: 0px;
    left: .3em;
    border-radius: 0 0 5% 0;
    border-bottom: 2px double rgba(255,255,255,.5);
    box-shadow: -1px 1px 1px rgba(0,0,0,.1);
/*    background: rgba(0,0,0,.2);*/
}

.sec{
    width: .5em;
    height: 40px;
    overflow: visible;
    display: inline-block;
    margin-top: .8em;
/*    background: rgba(255,255,255,.1);*/
    position: relative;
    z-index: -115;
    left: .3em;
    border-radius: 0 0 5% 0;
    border-bottom: 2.8px double rgba(255,255,255,.6);
}

.ident{
    width: 28px;
    height: 40px;
    display: inline-block;
    position: relative;
    z-index: 10000;
    background: url(images/identific2.png) no-repeat right;
    background-size: contain;
}

._ident{
    width: 25px;
    height: 35px;
    display: inline-block;
    position: relative;
    z-index: 10000;
    background: url(images/identific2.png) no-repeat right;
    background-size: contain;
}

.identDos{
    width: 28px;
    height: 40px;
    margin-top: .8em;
    display: inline-block;
    position: relative;
    z-index: 10001;
    background: url(images/identific3.png) no-repeat right;
    background-size: contain;
}

._identDos{
    width: 25px;
    height: 35px;
    margin-top: .8em;
    display: inline-block;
    position: relative;
    z-index: 10001;
    background: url(images/identific3.png) no-repeat right;
    background-size: contain;
}



section{
    width: 75%;
    margin: 0 auto;
    display: block;
    position: relative;
    h2{
        text-transform: capitalize;
        padding-top: .7em;
        font-family: $font_family_heading;
        font-size: 3em;
        text-align: center;
        color: white;
    }
    @media screen and (max-width: $bp_large)
    {
        width: 99%;
        margin: 0 auto;
    }
}

.companys{
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background: url(images/CompaniasAereas.png) no-repeat center;
    background-size: contain;
    @media screen and (max-width: $bp_extralarge)
    {
        width: 95%;
        background: url(images/CAereasMed.png) no-repeat center;
        background-size: contain;
    }
    @media screen and (max-width: $bp_large)
    {
        width: 95%;
        background: url(images/CAereasPeq.png) no-repeat center;
        background-size: contain;
    }
}

.instruccion, .cursos, .contactar, .desarrollo, .somos{
/*    height: 46.7em;
    background-color: rgba(8,39,132,.9);
    overflow-x: hidden;
    overflow-y: hidden;*/
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    top:0%;
/*    z-index: 400;*/
}

.instruccion{
    background: url(images/responsive/BackgroundInstruccion.jpg) no-repeat top left;
        background-size: cover;
}

.cursos{
    background: url(images/responsive/BackgroundCursos.jpg) no-repeat top center;
        background-size: cover;
}

.contactar{
    background: url(images/responsive/BackgroundContacto.jpg) no-repeat top right;
        background-size: cover;
}

.desarrollo{
    background: url(images/responsive/BackgroundDesarrollo.jpg) no-repeat top center;
        background-size: cover;
}

.somos{
    background: url(images/responsive/FondoSomos.jpg) no-repeat top right;
        background-size: cover;
    /*background-color: rgba(0,0,0,.9);*/
}


.instruccion{ 
    @media screen and (max-width: $bp_extralarge)
    {
    background: url(images/responsive/BackgroundInstruccion1200.jpg) no-repeat top left;
    background-size: cover;
    }
    @media screen and (max-width: $bp_large)
    {
    background: url(images/responsive/BackgroundInstruccion700.jpg) no-repeat top left;
    background-size: contain;
    position: relative;
    }
    @media screen and (max-width: $bp_medium)
    {
    background: url(images/responsive/BackgroundInstruccion500.jpg) no-repeat top left;
    background-size: contain;
    }
}
.cursos{
    @media screen and (max-width: $bp_extralarge)
    {
    background: url(images/responsive/BackgroundCursos1200.jpg) no-repeat center center;
    background-size: cover;
    }
    @media screen and (max-width: $bp_large)
    {
    background: url(images/responsive/BackgroundCursos700.jpg)  no-repeat top center;
    background-size: contain;
    position: relative;
    top:0px;
    }
    @media screen and (max-width: $bp_medium)
    {
    background: url(images/responsive/BackgroundCursos500.jpg) no-repeat top center;
    background-size: contain;
    }
}
.contactar{
    @media screen and (max-width: $bp_extralarge)
    {
    background: url(images/responsive/BackgroundContacto1200.jpg) no-repeat top center;
    background-size: cover;
    }
    @media screen and (max-width: $bp_large)
    {
    background: url(images/responsive/BackgroundContacto700.jpg) no-repeat top center;
    background-size: contain;
    position: relative;
    top:0px;
    }
    @media screen and (max-width: $bp_medium)
    {
    background: url(images/responsive/BackgroundContacto500.jpg) no-repeat top center;
    background-size: contain;
    }
}
.desarrollo{
    @media screen and (max-width: $bp_extralarge)
    {
    background: url(images/responsive/BackgroundDesarrollo1200.jpg) no-repeat top center;
    background-size: cover;
    }
    @media screen and (max-width: $bp_large)
    {
    background: url(images/responsive/BackgroundDesarrollo700.jpg) no-repeat top center;
    background-size: contain;
    position: relative;
    top:0px;
    }
    @media screen and (max-width: $bp_medium)
    {
    background: url(images/responsive/BackgroundDesarrollo500.jpg) no-repeat top center;
    background-size: contain;
    }
}
.somos{
    @media screen and (max-width: $bp_extralarge)
    {
    background: url(images/responsive/FondoSomos1200.jpg) no-repeat top right;
    background-size: cover;
    }
    @media screen and (max-width: $bp_large)
    {
    background: url(images/responsive/FondoSomos700.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    top:0px;
    }
    @media screen and (max-width: $bp_medium)
    {
    background: url(images/responsive/FondoSomos500.jpg) no-repeat top center;
    background-size: cover;
    }
}

/*_ _ _ _ _ _ _ _ _/ ROW & COL \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

.row{
    padding: 1em 1em 0 1em;
    overflow: hidden;
    color: white;
    .col3{
        float: left;
        margin:.5em 1.04167%;
        width: 22.91667%;
        background-color: rgba(0,255,0,.1);
        a{
            font-family: $font_family_heading;
            color: $color_text_body;
            background: rgba(0,0,0,.5);
            padding: .3em;
            border-radius: 0 0  50% 0;
            font-size: 1.5em;
            text-transform: capitalize;
            text-shadow: 0 2px 4px rgba(0,0,0,.4), 
                         2px 0 4px rgba(255,255,255,.8);
        }
    } 

    .col6{
        margin: 0 1.04167%; 
        width: 47.91667%;
    }

    h3{
        font-family: $font_family_heading;
        color: black;
        font-size: 1.5em;
        text-transform: capitalize;
        text-shadow: 0 2px 4px rgba(0,0,0,.4);
    }

    .map
    {
        width: 90%;
        margin: 1em auto;
        iframe{
            width: 100%;
        }
        @media screen and (min-width: $bp_extralarge)
        {
            width: 90%;
            margin: 1.5em auto;
            iframe{
                margin: 0 auto;
                width: 40%;
                -webkit-transition: width 2s;/* Safari */
                -moz-transition: width 2s;
                -ms-transition: width 2s;
                -o-transition: width 2s; 
                transition: width 2s;
                opacity: 0.4;
            }
            iframe:hover{
                width: 100%;
                opacity: 1;
            }
        }
    }

/*    small{
        display: block;
        a
        {
            color: black;
            margin:.5em;
            padding: 1em;
            text-align: left;
        }
    }*/

    .col8{
        margin: 0 auto;
        float: none!important;
        li{
            padding: 1%;
        }
        p{
            display: block;
            margin: .5em 2%;
        }
        @media screen and (max-width: $bp_extralarge)
        {
            width: 95%;
            margin: 0 1.04167%;
        }
        @media screen and (max-width: $bp_medium)
        {
            ol, h3
            {
                display: none;
            }
        }
    }

    .paper{
        padding: 1em;
        margin:.5em auto;
/*        background: rgba(0,0,0,.8);*/
        border-right: 1px solid rgba(0,0,0,.3);
        border-bottom: 1px solid rgba(0,0,0,.3);
        border-top: 1px solid rgba(255,255,255,.2);
        border-left: 1px solid rgba(255,255,255,.2);
        background: -webkit-gradient(radial, 0 0, 0 100%, from(white), to(rgba(49,58,226,.1)));
        background: -webkit-radial-gradient(white, rgba(49,58,226,.1));
        background: -moz-radial-gradient(white, rgba(49,58,226,.1));
        background: -o-radial-gradient(white, rgba(49,58,226,.1));
        background: radial-gradient(white, rgba(49,58,226,.1));
        position: relative;
        h4
        {
            text-transform: capitalize;
            text-align: center;
            font-size: 1.5em;
            padding: 0 .5em  0em;
            font-family: $font_family_heading;
            font-weight: 600;
            a
            {
                color: rgba(25,46,129,.9);
                text-shadow: 1px -1px 1px rgba(0,0,0,.9) inset;
            }
        }
        h4:hover
        {
            cursor: pointer;
        }
        li
        {
            margin: 2% auto;
            font-family: $font_family_heading_alt;
            font-size: .8em;
            text-transform: capitalize;
/*            text-shadow: 0 0 1px rgba(51,51,51,0.2);*/
            position: relative;
            color: black;
            -webkit-font-smoothing:antialiased!important;
            p
            {
                font-size: 1.1em;
                text-transform: none;
/*                text-shadow: 0 0 1px rgba(51,51,51,0.9);*/
                -webkit-font-smoothing:antialiased!important;
                padding: 1em;
            }
        }
        .enlace_galery{
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 1em;
            color: white;
            a{
                margin: 0 auto;
                padding: 1em;
                color: white;
                border: 1px solid rgba(255,255,255,.3);
            }
        }
    }

    .col4
    {
/*        float: left;*/
        margin: .2em .25em; 
        width: 31.25%;
        position: relative;
        left: 15%;
    }

    .curss{
        h4{font-size: .9em;}
    }

    .desplegado
    {
        width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 10000;
/*        box-shadow: 0 2px 30px rgba(44,166,217,.4);*/
    }

    article p
    {
        padding: .5em;
    }

    @media screen and (max-width: $bp_extralarge!important)
    {
        .col1, .col2, .col7, .col9, .col10, .col11, .col12
        {
            float: none;
            margin: 0 1.04167%;
            width: 97.91667%;
        }

        .col4, .col3
        {
            float: none;
            display: block;
            margin: 0 1.04167%;
            width: 97%;
            left: 0;
        }
        .curss
        {
            float: none;
            display: block;
            margin: 0 1.04167%;
            width: 97%;
            left: 0;
        }

        .paper
        {
            float: none!important;
            display: block!important;
            margin: 0 1.04167%!important;
            width: 97%!important;
            left: 0!important;
        }

        .col6
        {
            float: none;
            margin: 0 1.04167%;
            /*width: 47.90%;*/
        }
    }


    @media screen and (max-width: $bp_medium)
    {
        .col4, .col3
        {
            float: none;
            margin: 1.04167%;
            width: 97.91667%;
        }

        .paper
        {
            margin: 0 1.04167%;
        }
    }
}




/*_ _ _ _ _ _ _ _ _/ HOME-INDEX \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/*.home .col4
{
    background-size: 60%;
    min-height:7em;
    a
    {
        font-family: $font_family_heading;
        font-size: 1.6em;
        text-shadow:0 2px 4px rgba(0,0,0,.4), 2px 0 4px rgba(255,255,255,.4);
        color: inherit;
        display: block;
        padding: 2% 20% 2% 2%;
    }
}*/




/*_ _ _ _ _ _ _ _ _/    EXTRAS    \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

.contacto
{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    ol
    {
        text-align: center;
        width: 25%;
        margin: 0 auto;
        color: white;

        font-size: .8em;
    }
}


.boton
{
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.48) 52%, rgba(255,255,255,0.47) 53%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(52%,rgba(255,255,255,0.48)), color-stop(53%,rgba(255,255,255,0.47)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 52%,rgba(255,255,255,0.47) 53%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 52%,rgba(255,255,255,0.47) 53%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 52%,rgba(255,255,255,0.47) 53%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 52%,rgba(255,255,255,0.47) 53%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    position: fixed;
    bottom: 0;
    left: 47%;
    font-size: .7em;
    max-width: 40px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    text-align: center;
    height: 30px;
    /*line-height: 1em;*/
    padding: .5em 1em;
    border-radius: 3px;
    border-top: 1px solid rgba(255,255,255,.3);
    border-right: 1px solid rgba(255,255,255,.3);
    border-left: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: -3px 3px 1px rgba(0,0,0,.2);
    a
    {
        font-family: $font_family_heading;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        color: white;
    }
}

.boton:active
{
    border-right: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.3);
    border-left: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    line-height:36px;
    box-shadow: 0 0 1px rgba(255,255,255,.4) inset,
                0 1px 3px rgba(0,0,0,.6) inset;
}

.flecha_arriba {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(255,255,255,.3);
}

.flecha_abajo {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

.flecha_izquierda {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    border-right:50px solid #25aa00;
}

.flecha_derecha {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid blue;
}


@media screen and ( max-width: 688px)
{
.foto
{

    float: none;
    margin: 1.04167%;
    width: 97.91667% !important;
}
}

@media screen and (max-width: $bp_medium)
{
.social.col6
{
    display: block;
    float: none;
    margin: 1.04167%;
    width: 97.91667%;
}
}

@media screen and (max-width: 780px)
{
footer ul
{
    display: inline-block;
}
}