* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica,"Miriad pro", Arial,  "sans-serif";
  color: black;
  padding: .3em;
  background: url(../../images/bargruond2.jpg);
}

ul, ol, li, a {
  list-style: none;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background: white;
  color: black;
  border-radius: 5px;
  padding: 0.2em 0 0 0;
}

.links {
  margin: .8em;
}
.links .logaut {
  width: 60px;
  margin: 1.5em;
  text-transform: uppercase;
  padding: .5em;
  color: gray;
  background: lightblue;
  border: 1px double blue;
  border-radius: 5px;
}
.links .logaut:hover {
  color: white;
  background: blue;
}
.links .logaut:target {
  background: black;
}
.links .theme {
  width: 120px;
  margin: 1.5em;
  text-transform: capitalize;
  padding: .5em;
  color: lightgray;
  background: lightgreen;
  border: 1px double blue;
  border-radius: 5px;
}
.links .theme:hover {
  color: white;
  background: #68e868;
}

section {
  display: block;
  margin: 2em auto;
  padding: 4em;
  background-position: center;
}
section form {
  width: 100%;
  margin: 0.2em auto;
  padding: .5em 0;
  background: lightgray;
}
section form input {
  margin: 0 1em 0 .5em;
}
section select {
  font-size: 1.2em;
}
section ul {
  background: #dbdbdb;
  margin: 1em auto;
  padding: .5em;
  text-transform: capitalize;
}
@media screen and (max-width: 690px) {
  section {
    margin: 0 auto;
    padding: .1em 0;
  }
  section form {
    margin: 1em auto;
  }
  section form input {
    margin: .5em 1em;
  }
}
.alert {
  font-size: 1.2em;
  text-align: left;
  width: 60%;
  border-radius: 3px;
  padding: 8px 35px 8px 14px;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.close{
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
}
.alert-danger {
  color: red;
  background: rgba(255,0,0,.3);
}
.alert-info {
  color:blue;
  background: rgba(0,0,255,.3);
}
.alert-success {
  color: green;
  background: rgba(0,255,0,.2);
}
.alert-warning {
  color: orange;
  background: lighten(orange,.3);
}