


.develop
{
    margin: .7em auto;
    height: 1.5em;
    padding: .5em .5em;
    background: url(images/matrix1.png) center no-repeat;
/*    opacity: 0.7;*/
    background-color: rgba(0,0,0,.9);
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,.6) inset; 
    color: white;
    .copyrigth
    {
        display: inline-block;
        text-align: left;
        font-size: .8em;
        text-transform: capitalize;
        span
        {
            font-size: .8em;
            margin-left: .5em;
            padding-left: .5em;
            border-left: 1px solid rgba(255,255,255,.8);
        }
    @media screen and (max-width: 430px)
    {
        span
        {
            display: block;
            padding: .5em 0;
            border-left: 0px;
        }
    }
    }
    .development
    {
        display: inline;
        float: right;
        font-size:.5em;
        margin: .2em auto;
        border-left: 15px solid rgba(0,0,0,.2);
        border-bottom: 4px solid rgba(255,255,255,.5);
        border-top: 4px solid rgba(255,255,255,.6);
        border-radius: 5px;
        a
        {
            text-transform: capitalize;
            margin-right: .2em;
            padding: 1em;
            color:inherit;
        }
    @media screen and (max-width: 660px)
    {
        border-left: 15px solid rgba(0,0,0,.4);
        border-bottom: 4px solid rgba(0,0,0,.2);
        border-top: 4px solid rgba(0,0,0,.2);
        position: relative;
        right: 10px;
        top: 5px;
        
    }
    @media screen and (max-width: 440px)
    {
        position: relative;
        top: 50px;
        right: 3px;
    } 
    }
    @media screen and (max-width: 430px)
    {
        height: 2em;
    }

}