@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
/*$color_bg_dark_alt        : #72838B;*/
/*$color_bg_light_alt       : darken($color_bg_light,5);*/
/*1120px*/
/*688 px*/
/*464 px*/
/*240 px*/
/*$logo_ico                   : ;*/
.develop {
  margin: .7em auto;
  height: 2em;
  padding: .5em .5em;
  background: rgba(254, 238, 203, 0.9);
  color: #6d6d6d;
}
.develop .copyrigth {
  display: inline-block;
  text-align: left;
  text-transform: capitalize;
}
.develop .copyrigth span {
  font-size: 1.2em;
  margin-left: .5em;
  padding-left: .5em;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 430px) {
  .develop .copyrigth span {
    display: block;
    padding: .5em 0;
  }
}
.develop .development {
  display: inline;
  float: right;
  margin: .2em auto;
  border-left: 15px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  border-top: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.develop .development a {
  text-transform: capitalize;
  margin-right: .2em;
  padding: 1em;
  color: inherit;
}
@media screen and (max-width: 660px) {
  .develop .development {
    border-left: 15px solid rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    border-top: 4px solid rgba(0, 0, 0, 0.2);
    position: relative;
    right: 10px;
    bottom: -50px;
  }
}
@media screen and (max-width: 440px) {
  .develop .development {
    position: relative;
    top: 60px;
    right: 3px;
  }
}
@media screen and (max-width: 430px) {
  .develop {
    height: 3em;
  }
}
