


.develop
{
    margin: .7em auto;
    height: 2em;
    padding: .5em .5em;
    background: lighten($color_text_body,9);
    color: darken($color_text_link,40);
    .copyrigth
    {
        display: inline-block;
        text-align: left;
        text-transform: capitalize;
        span
        {
            font-size: 1.2em;
            margin-left: .5em;
            padding-left: .5em;
            border-left: 1px solid rgba(0,0,0,.3);
        }
    @media screen and (max-width: 430px)
    {
        span
        {
            display: block;
            padding: .5em 0;
        }
    }
    }
    .development
    {
        display: inline;
        float: right;
        margin: .2em auto;      
        border-left: 15px solid rgba(0,0,0,.2);
        border-bottom: 4px solid rgba(255,255,255,.5);
        border-top: 4px solid rgba(255,255,255,.6);
        border-radius: 5px;
        a
        {
            text-transform: capitalize;
            margin-right: .2em;
            padding: 1em;
            color:inherit;
        }
    @media screen and (max-width: 660px)
    {
        border-left: 15px solid rgba(0,0,0,.4);
        border-bottom: 4px solid rgba(0,0,0,.2);
        border-top: 4px solid rgba(0,0,0,.2);
        position: relative;
        right: 10px;
        bottom: -50px;
        
    }
    @media screen and (max-width: 440px)
    {
        position: relative;
        top: 60px;
        right: 3px;
    } 
    }
    @media screen and (max-width: 430px)
    {
        height: 3em;
    }

}