/*_ _ _ _ _ _ _ _ _/   FOOTER   \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */


footer
{
    width: 100%;
    position: absolute;
    bottom: -120px;
    font-family: $font_family_heading;
/*    margin: 2%;
    padding-bottom: .8em;*/
/*    h3
    {
        margin-bottom: .2em;
        font-family: $font_family_heading;
        font-size: 2em;
        text-transform: capitalize;
        text-shadow: 0 2px 4px rgba(0,0,0,.4), 2px 0 4px rgba(255,255,255,.8);
    }*/
    ul
    {
        text-align: center;
        display: inline-block;
        width: 70%;
        /*margin: 0 auto;
        float: none;*/
        vertical-align: top;
        li
        {
            display: inline-block;
            background-color: rgba(49,58,226,.3);
            margin: 0 auto;
            padding: 5px;
            font-size: 1em;
            border-radius: 3px;
            /*border-top: 1px solid rgba(132,87,147,.8);
            border-right: 1px solid rgba(132,87,147,.8);
            border-bottom: 1px solid rgba(51,26,59,.8);
            border-left: 1px solid rgba(51,26,59,.8);*/
            box-shadow:  -1px 2px 4px rgba(0,0,0,.4);
            a
            {
                line-height: 1em;
                color: white;
                display: block;
                text-align: center;
                margin: 0 auto;

            }
        @media only screen and (max-width: $bp_large)
        {
            margin: 2em auto;
        }
        @media only screen and (max-width: $bp_large)
        {
            margin: .5em 1%;
        }
    }

        li:hover
        {
            background-color: rgba(49,58,226,.5);   
        }
    }

    @media only screen and ( max-width: 580px)
    {
        .contacto ol
        {
            display: block;
            width: 100%;
            background: rgba(0,0,0,.1);
            font-family: $font_family_heading-alt;
            .contact
            {
                margin: 0 auto;
            }
        }
        ul
        {
            width: 100%;
        }
    }

    .contact{
        font-size: 1.5em;
        max-width: 200px;
        text-align: center;
        margin: .1em auto; 
        height: 35px;
        padding: 5px 0;
        /*background: -webkit-gradient(radial, 0 0, 0 100%, from(white), to(#AAC3AA));
        /*background: -webkit-radial-gradient(white, #AAC3AA);*/
        /*background: -moz-radial-gradient(white, #AAC3AA);
        background: -o-radial-gradient(white, #AAC3AA);
        background: radial-gradient(white, #AAC3AA);
        border-radius: 8px;*/
        a
        {
            text-decoration: none;
            text-align: center;
            display: block;
            color: white;
        }

    @media only screen and (min-width: $bp_medium)
        {
            width:100%;
        }
    }

    .notice
    {
        width:100%;
        height: 10em;
        background: lighten($color_text_body,9);
        float: right;
    }

@media only screen and (max-height: 400px){
    bottom: -195px;
}
/*@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}*/
}