/*_ _ _ _ _ _ _ _ _/   FOOTER   \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */


footer
{
    width: 100%;
    position: absolute;
    bottom: -2120px;
/*    margin: 2%;
    padding-bottom: .8em;*/
    h3
    {
        margin-bottom: .2em;
        font-family: $font_family_heading;
        font-size: 2em;
        text-transform: capitalize;
        text-shadow: 0 2px 4px rgba(0,0,0,.4), 2px 0 4px rgba(255,255,255,.8);
    }
    ul
    {
        text-align: center;
        display: inline-block;
        width: 70%;
        /*margin: 0 auto;
        float: none;*/
        vertical-align: top;
        li
        {
            display: inline-block;
            margin: 0 auto;
            padding: 5px;
            font-size: 1em;
            /*border-top: 1px solid rgba(132,87,147,.8);
            border-right: 1px solid rgba(132,87,147,.8);
            border-bottom: 1px solid rgba(51,26,59,.8);
            border-left: 1px solid rgba(51,26,59,.8);*/
            box-shadow:  -1px 2px 4px rgba(0,0,0,.4);
            a
            {
                line-height: 1em;
                color: white;
                display: block;
                text-align: center;
                margin: 0 auto;

            }
        @media screen and(max-width: $bp_large)
        {
            margin: 2em auto;
        }
        @media screen and(max-width: $bp_large)
        {
            margin: .5em 1%;
        }

        }


        li:hover
        {
            background-color: rgba(49,58,226,.1);   
        }
    }

    @media screen and ( max-width: 580px)
    {
        .contacto ol
        {
            display: block;
            width: 100%;
            background: rgba(0,0,0,.1);
            .contact
            {
                margin: 0 auto;
            }
        }
        ul
        {
            width: 100%;
        }
    }

    .notice
    {
        width:100%;
        height: 10em;
        background: lighten($color_text_body,9);
        float: right;
    }
}
@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}