/*_ _ _ _ _ _ _ _ _/  FORM  \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */


/*@import 'general';*/

form
{
    display: block;
    width: 58.8%;
    margin: 0 auto;
    padding: 1em 3%;
/*    background-color: rgba(0,0,0,.8);*/
    border-right: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(255,255,255,.2);
/*    background: -webkit-gradient(radial, 0 0, 0 100%, from(white), to(rgba(49,58,226,.1)));
    background: -webkit-radial-gradient(white, rgba(49,58,226,.1));
    background: -moz-radial-gradient(white, rgba(49,58,226,.1));
    background: -o-radial-gradient(white, rgba(49,58,226,.1));
    background: radial-gradient(white, rgba(49,58,226,.1));
*/
    background: rgba(0,0,0,.3);
    ul
    {
        width: 60%; 
        margin: .5em auto;
        li
        {
            font-family: $font_family_heading;
            list-style: none;
            margin-bottom: .3em;
            color: white;
            text-transform: capitalize;
            text-shadow: 0 -1px 0 rgba(0,0,0,.5);
        }
    }

    input, textarea
    {
        width: 50%;
        background: rgba(0,0,0,.1);
        display: inline-block;
        font-family: $font_family_heading_alt;
        color: white;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid white;
    }

    textarea{
        margin: 1em auto;
        width: 70.5%;
        color: inherit;
    }
    ::-webkit-input-placeholder { color:white; }
    ::-moz-placeholder { color:white; } /* firefox 19+ */
    :-ms-input-placeholder { color:white; } /* ie */
    input:-o-placeholder { color:white; }

    input[type="submit"], input[type="reset"]{
        width: 100px;
        display: inline-block;
        margin-right: 2%;
        padding: .5em 1em;
        font-family: $font_family_heading_alt;
        font-size: 1em;
        font-weight: 600;
        text-transform: capitalize;
        color: white;
        border: 1px solid rgba(255,255,255,.3);
        box-shadow: 0 0 1px rgba(255,255,255,.4) inset,
                    0 1px 3px rgba(0,0,0,.6) ;
    }

    input[type="submit"]:hover, input[type="reset"]:hover{
        cursor: pointer;
    }

    input[type="submit"]:active, input[type="reset"]:active{
        background: -webkit-gradient(radial, 0 0, 0 100%, from(white), to(rgba(49,58,226,.1)));
        background: -webkit-radial-gradient(white, rgba(49,58,226,.1));
        background: -moz-radial-gradient(white, rgba(49,58,226,.1));
        background: -o-radial-gradient(white, rgba(49,58,226,.1));
        background: radial-gradient(white, rgba(49,58,226,.1));
        line-height: 1.5em;
        color: black;
        box-shadow: 0 0 1px rgba(255,255,255,.4) inset,
                    0 1px 3px rgba(0,0,0,.6) inset;
    }

    label{
        display: inline-block;
        width: 130px;
        text-align: left;
        padding-right: 10px;
    }
    span.success
    {
        color: green;
    }

    span.error
    {
        color: red;
    }
}

@media only screen and (max-width : 480px) {

    form{
        width: 93%;
        ul
        {
            width: 100%;
            margin: .1em auto;
        }

        label{
            font-size: 1.2em;
        }
        input
        {
            width: 100%;
            /*height: 1.2em;*/
            font-size: 1em;
        }
        textarea
        {
        margin: 1em auto;
        width: 100%;
        height: 145px;
        font-size: .8em;
        color: inherit;
        }
        .actioner
        {
            margin: .5em auto .5em;
            width: 100%!important;
            font-size: 45px;
            text-transform: capitalize;
        }
    }
}