
/*header
{
    background: url(images/HomeSky.png) no-repeat bottom;
    background-size: cover;
    position: relative;

    @media screen and (max-width: $bp_large)
    {
        background: url(images/HomeSky.png) no-repeat bottom;
        background-size: cover;
    }

    @media screen and (max-width: $bp_medium)
    {
        background: url(images/HomeSky.png) no-repeat bottom;
        background-size: cover;
    }
}*/




/*_ _ _ _ _ _ _ _ _/  LOGO  \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/*.heroe
{ 
    height:20em;
    overflow: hidden;
}*/

.logo
{
    width: 13.75em;
    height: 7.75em;
    background: $logo_img no-repeat center;
    background-size: 90%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    a
    {
        text-align: center;
        height: 100%;
        display: block;
        text-indent: -9999px;
    }

@media screen and (min-width: $bp_extralarge)
    {
        position: fixed;
        top: 2em;
        left: 2em;
    }
}

/*.HomeSky, .carte{
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    @media screen and (min-width: 1900px){
        background-size: contain;
    }
}

.HomeFrontCloud, .HomeMiddleCloud, .HomeHorizontCloud{
position:fixed;
width:1920px;
margin-left:-910px;
left:47%;

z-index:-1;
}

.HomeFrontCloud{
    height: 685px;
    background: url(images/cloudsFront-1.png) no-repeat;
    margin-top: -342px;
    top: 100%;
}

.HomeMiddleCloud{
    height: 300px;
    background: url(images/cloudsMiddle.png) no-repeat center ;
    margin-top: -150px;
    top: 90%;
}

.HomeHorizontCloud{
    height: 216px;
    background: url(images/cloudsHorizont-1.png) no-repeat center ;
    margin-top: 108px;
    top: 40%;
}

.HomeSky{
    background: url(images/HomeSky1.png) no-repeat center;
    z-index: -3;

}*/

.container{
width:400px;
background:white;
padding:20px;
margin:0 auto;
}

.cloud1, .cloud2, .cloud3, .cloud4{
position:fixed;
width:2000px;
margin-left:-1000px;
left:50%;

z-index:-1;
}

.cloud1{
height:692px;
background:url(images/Cloud1.png);
margin-top:-346px;
top:120%;
}

.cloud2{
height:484px;
background:url(images/cloud2.png);
margin-top:-242px;
top:100%;
}

.cloud3{
height:444px;
background:url(images/cloud3.png);
margin-top:-222px;
top:80%;
}

.cloud4{
height:285px;
background:url(images/cloud4.png);
margin-top:-142px;
top:70%;
}

.dark{
position:fixed;
width:100%;
height:100%;
top:100%;
background:rgba(0,0,0,0.3);
z-index:-1;
}

.carte{
    background: url(images/cartaPortada.png) no-repeat center ;

    margin: 0 auto;
    height: 100%;
    background-size: 100%;
    position: absolute;
    top:-27%;
    z-index: 400;
@media screen and (min-width: 1900px){
    background-size: contain;
    }
}
