
/*header
{
    background: url(images/HomeSky.png) no-repeat bottom;
    background-size: cover;
    position: relative;

    @media screen and (max-width: $bp_large)
    {
        background: url(images/HomeSky.png) no-repeat bottom;
        background-size: cover;
    }

    @media screen and (max-width: $bp_medium)
    {
        background: url(images/HomeSky.png) no-repeat bottom;
        background-size: cover;
    }
}*/

/*.heroe
{ 
    height:20em;
    overflow: hidden;
}*/

h1{
    font-family: $font_family_heading;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    top: 1.3em;
    left: 1.4em;
    span{
        display: block;
        font-size: .5em;
        position:relative;
    }
}

/*_ _ _ _ _ _ _ _ _/  LOGO  \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

.logo
{
    width: 13.75em;
    height: 7.75em;
    background: $logo_img no-repeat center;
    background-size: 90%;
    position: fixed;
    left: 0;
    top: 1em;
    z-index: 10000;
    a
    {
        text-align: center;
        height: 100%;
        display: block;
        text-indent: -9999px;
    }

@media screen and (max-width: $bp_medium)
    {
        position: relative;
        display: block;
        width: 90%;
        height: 10em;
        margin: .5em auto;
        background-size: contain;
    }
@media screen and (min-width: $bp_extralarge)
    {
        position: fixed;
        top: 2em;
        left: 2em;
    }
}

.logoHome
{
    width: 13.75em;
    height: 7.75em;
    background: url(images/logoBlanco.png) no-repeat center;
    background-size: 90%;
    position: fixed;
    left: 0;
    top: 1em;
    z-index: 10000;
    display: none;
    a
    {
        text-align: center;
        height: 100%;
        display: block;
        text-indent: -9999px;
    }

@media screen and (max-width: $bp_medium)
    {
        position: fixed;
        top: 8em;
        left: 2em;
    }
@media screen and (min-width: $bp_extralarge)
    {
        position: fixed;
        top: 2em;
        left: 2em;
    }
}

/*------------------/ pantalla de inicio \------------*/

.carte,.logoCarte{
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    @media screen and (min-width: 1900px){
        background-size: contain;
    }
}

.container{
width:400px;
background:white;
padding:20px;
margin:0 auto;
}

.cloud1, .cloud2, .cloud3, .cloud4{
position:fixed;
width:2000px;
margin-left:-1000px;
left:50%;
}

.cloud1{
height:692px;
background:url(images/Cloud1.png);
margin-top:-346px;
top:120%;
z-index:-110;
}

.cloud2{
height:484px;
background:url(images/cloud2.png);
margin-top:-242px;
top:100%;
z-index:-120;
}

.cloud3{
height:444px;
background:url(images/cloud3.png);
margin-top:-222px;
top:80%;
z-index:-130;
}

.cloud4{
height:285px;
background:url(images/cloud4.png);
margin-top:-142px;
top:70%;
z-index:-140;
}

.dark{
position:fixed;
width:100%;
height:100%;
top:100%;
background:rgba(0,0,0,0.3);
z-index:-200;
}

.carte{
    background: url(images/cartaPortada5.png) no-repeat center;
    margin: 0 auto;
    height: 100%;
    background-size: 100%;
    position: absolute;
    top:0%;
    z-index: 400;
@media screen and (max-width: $bp_medium)
    {
        top: -10%;
    }
@media screen and (min-width: 1900px)
    {
    background-size: contain;
    }
}

.logoCarte{
    background: url(images/logoMontajeCarta.png) no-repeat center;
    margin: 0 auto;
    height: 100%;
    background-size: 100%;
    position: absolute;
    top:0%;
    z-index: 450;
@media screen and (max-width: $bp_medium)
    {
        top: -10%;
    }
@media screen and (min-width: 1900px)
    {
    background-size: contain;
    }
}
