/*_ _ _ _ _ _ _ _ _/  NAV  \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/*@import 'general'; */


nav
{
    color: $color_text_heading;
    text-align: right;
    height: 1.8em;
    line-height: 3em;
    position: relative;
    top: 2em;
    z-index: 2000;
    ul
    {
        display: block;

        li
        {
            display: inline-block;
            margin: 0 auto;
            padding: 0 5%;
            a
            {
                font-family: $font_family_heading;
                width: 100%;
                display: block;
                color: inherit;
                text-decoration: none;
                text-align: center;
                text-transform: capitalize;
            }
        }
    }

    li:active
    {
        border-right: 1px solid rgba(0,0,0,.3);
        border-top: 1px solid rgba(0,0,0,.3);
        border-left: 1px solid rgba(255,255,255,.2);
        border-bottom: 1px solid rgba(255,255,255,.2);
        background: -webkit-gradient(radial, 0 0, 0 100%, from(white), to(rgba(49,58,226,.1)));
        background: -webkit-radial-gradient(white, rgba(49,58,226,.1));
        background: -moz-radial-gradient(white, rgba(49,58,226,.1));
        background: -o-radial-gradient(white, rgba(49,58,226,.1));
        background: radial-gradient(white, rgba(49,58,226,.1));
        box-shadow: 0 0 1px rgba(255,255,255,.4) inset,
                    0 1px 3px rgba(0,0,0,.6) inset;
    }

@media screen and (min-width: $max_width )
{
    margin-right: 5%;
    padding: 0;
}

@media screen and (max-width: $bp_large )
{
    .mv
    {
        display: none;
    }
}

@media screen and (max-width: 415px )
{ 
    display: none;
    
}

@media screen and (max-width: $bp_min)
{
    display: none;
}   

}



                /*-----------/ mini-NAV \----------*/
.mini
{
    display: none;
    line-height: 3.2em;
    margin: .5em  auto;
    width: 85%;
    ul
    {
        display: none;
        a
        {
            color: $color_text_heading;
            font-family: $font_family_heading_alt;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            display: block;
            padding: .2em;
        }
    }


@media (max-width: 415px)
{

    display: block;
    height: 3em;
    float: none;
    li
    {
        margin-bottom: .1em;
        float: none;
        text-align: center;
        background-color: rgba(49,58,226,.1);
        padding: 0 .625em;
        border-radius: 28px;
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-left: 1px solid rgba(0,0,0,.2);
        box-shadow: inset -3px 2px 3px rgba(255,255,255,.4),
        -3px 3px 1px rgba(0,0,0,.2);
    }
    
    li:active
    {
        border-right: 1px solid rgba(0,0,0,.3);
        border-top: 1px solid rgba(0,0,0,.3);
        border-left: 1px solid rgba(255,255,255,.2);
        border-bottom: 1px solid rgba(255,255,255,.2);
        background: -webkit-gradient(radial, 0 0, 0 100%, from(white), to(rgba(49,58,226,.1)));
        background: -webkit-radial-gradient(white, rgba(49,58,226,.1));
        background: -moz-radial-gradient(white, rgba(49,58,226,.1));
        background: -o-radial-gradient(white, rgba(49,58,226,.1));
        background: radial-gradient(white, rgba(49,58,226,.1));
        box-shadow: 0 0 1px rgba(255,255,255,.4) inset,
                    0 1px 3px rgba(0,0,0,.6) inset;
        a 
        {   
            display: block;
            color: $color_text_link;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .8em;
            padding: .2em;
        }
    }
    ul:target
    {
        display: none;
    }
}

}