/*_ _ _ _ _ _ _ _ _/   SOCIAL-FONTELLO   \_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9998728#fontello') format('svg');
  }
}*/

/*@import 'general'; */

[class^="iconfont"]:before, [class*=" iconfont"]:before 
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); 
}


.iconfont
{
    text-decoration: none;
}


.iconfont:before
{
    font-family: "fontello";
    display: inline-block;
    margin-right: 0.5em;
    /*text-shadow: inset -3px 2px 3px rgba(0,0,0,.9);----------???---*/
}
 
/*.iconfont.down-dir:before { content: '\e800'; } /* '' */
/*.iconfont.accessibility:before { content: '\e808'; } /* '' */
.iconfont.mini:before 
{ 
    content: '\e801';
    margin-right: -2em;
    cursor: pointer;
    color: white;
    padding: 1em;
    border-radius: 25% 25% 0 0;
} /* '' */

/*.iconfont.wifi:before { content: '\e807'; } /* '' */
/*.iconfont.reply:before { content: '\e802'; } /* '' */

.iconfont.twitter:before 
{
    content: '\e805';
    font-size: 119%;
    position: relative;
    top: 2px;
} /* '' */

.iconfont.facebook:before { content: '\e804'; } /* '' */

.iconfont.googleplus:before { content: '\e803'; } /* '' */

.iconfont.mail:before 
{ 
    content: '\e806';
} /* '' */