
@import '../fragment-admin/alerts';

*{margin: 0; padding: 0;}

body
{
	font-family: Helvetica,"Miriad pro", Arial,  "sans-serif";;
	color: rgb(0,0,0);
	padding: .3em;
	background: url(../../images/bargruond2.jpg);
}


ul, ol, li, a
{
	list-style: none;
	text-decoration: none;
}

.wrapper
{
	margin: 0 auto;
	max-width: 1200px;
	background: white;
	color:  black;
    border-radius: 5px;
	padding: 0.2em 0 0 0;
}

.links
{
	margin: .8em;
	.logaut
	{
		width: 60px;
		margin: 1.5em;
		text-transform: uppercase;
		padding: .5em;
		color: gray;
		background: lightblue;
		border: 1px double blue;
		border-radius: 5px;
	}
	.logaut:hover
	{
		color: white;
		background: blue;
	}
	.logaut:target
	{
		background: black;
	}

	.theme
	{
		width: 120px;
		margin: 1.5em;
		text-transform: capitalize;
		padding: .5em;
		color: lightgray;
		background: lightgreen;
		border: 1px double blue;
		border-radius: 5px;
	}
	.theme:hover
	{
		color: white;
		background: darken( lightgreen,9);
	}
}

	

section
{
	display: block;
	margin: 2em auto;
	padding: 4em;
	background-position: center;
	form
	{
		width: 100%;
		margin: 0.2em auto;
		padding: .5em 0;
		background: lightgray;
		input
		{
			margin: 0 1em 0 .5em;
		}
		
	}
	
	select
	{
		font-size: 1.2em;
	}
	ul
	{
		background: lighten(lightgray,3);
		margin: 1em auto;
		padding: .5em;
		text-transform: capitalize;

		
	}
	@media screen and (max-width: 690px )
	{
		margin: 0 auto;
		padding: .1em 0;
		form
		{
			margin: 1em auto;
			input
			{
				margin: .5em 1em;
			}

		}
	}
}
/*.alert
{
	font-size: 1.2em;
	text-align: left;
	width: 60%;
	border-radius: 3px;
	padding: 8px 35px 8px 14px;
}

.alert .close 
{
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 20px;
}

button.close 
{
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close
{
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
}

.alert-danger
{
	color: red;
	background: rgba(255,0,0,.3);
}
.alert-info
{
	color:blue;
	background: rgba(0,0,255,.3);
}
.alert-success
{
	color: green;
	background: rgba(0,255,0,.2);
}
.alert-warning
{
	color: orange;
	background: lighten(orange,.3);
}*/